name: lawchat_frontend
description: "2025-2 MP Team Project"
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  cupertino_icons: ^1.0.8
  lucide_icons: ^0.257.0
  go_router: ^16.3.0
  flutter_slidable: ^4.0.3
  syncfusion_flutter_datepicker: ^31.2.10
  syncfusion_localizations: ^31.2.10
  syncfusion_flutter_core: ^31.2.10

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
